In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_score, GroupShuffleSplit

# Classification models
import xgboost as xgb

from tqdm import tqdm_notebook

import warnings
warnings.simplefilter('ignore')
from google.colab import files
uploaded = files.upload()

Saving ION Data Points - Sheet1.csv to ION Data Points - Sheet1 (2).csv

In [50]:
import pandas as pd
import io

train = pd.read_csv(io.StringIO(uploaded['ION Data Points - Sheet1.csv'].decode('utf-8')))
train

,Sector,Age,Tv Bills,Water bills,Electricity Bills,Family Members,Group?,Duration (year),Salary (yearly),Qualifications,District,State,Loan History,Loan Category,Sector of Business,Founding Year,Profit per anum,Credit Score,LOAN GRANTED,RISK SCORE
0,"Agriculture,forestry & fishing",23,Yes,Yes,Yes,6,Yes,2.0,500000,Secondary,Amritsar,Punjab,Loan taken and still repaying,Business,Retail,2013,40000,20,Yes,30
1,Mining & quarrying,30,Yes,Yes,Yes,5,No,1.0,200000,Diploma,Rohtak,Haryana,Loan taken and still repaying,Medical,None,0,0,40,Yes,30
2,Manufacturing,35,Yes,Yes,Yes,6,No,3.0,1000000,Undegraduation,Agra,Uttar Pradesh,Loan not taken / repayed,Business,Building Materials,2020,100,10,No,85
3,"Electricity, gas, water supply & other utility...",27,Yes,Yes,Yes,4,No,1.0,600000,Undegraduation,Alwar,Rajasthan,Loan not taken / repayed,Education,None,0,0,20,Yes,30
4,"Public Administration, defence and other services",36,Yes,Yes,Yes,3,No,1.0,800000,Postgraduation,Faridabad,Haryana,Loan not repayed on time.,Business,Information Technology,2020,300000,60,Yes,20
5,"Public Administration, defence and other services",40,Yes,Yes,No,4,No,2.0,700000,Others,Patna,Bihar,Loan taken and still repaying,Medical,None,0,0,10,Yes,40
6,"Financial, real estate & prof servs",32,Yes,Yes,Yes,4,Yes,1.0,600000,Undegraduation,Nainital,Himachal Pradesh,Loan taken and still repaying,Business,Capital Goods,2017,150000,80,Yes,35
7,"Public Administration, defence and other services",50,Yes,Yes,Yes,8,No,2.5,800000,Undegraduation,Kolkata,West Bengal,Loan not taken / repayed,Education,None,0,0,20,Yes,45
8,"Public Administration, defence and other services",42,Yes,Yes,Yes,5,No,1.0,1200000,Undegraduation,Kolkata,West Bengal,Loan not taken / repayed,Business,Textiles & Fashion,2020,20000,30,Yes,50
9,"Agriculture,forestry & fishing",23,Yes,Yes,No,4,No,1.5,300000,Senior Secondary,Gurugram,Haryana,Loan not repayed on time.,Business,Chemicals,2019,250000,70,Yes,20
10,"Agriculture,forestry & fishing",28,Yes,No,Yes,4,No,1.0,600000,Senior Secondary,Gurugram,Haryana,Loan not taken / repayed,Business,Healthcare,2020,300000,60,Yes,20
11,"Agriculture,forestry & fishing",29,No,Yes,Yes,4,Yes,0.5,800000,Diploma,Ludhiana,Punjab,Loan taken and still repaying,Business,Industrial Products,2018,100000,40,Yes,30
12,"Agriculture,forestry & fishing",35,Yes,Yes,Yes,5,Yes,1.5,500000,Diploma,Howrah,West Bengal,Loan not taken / repayed,Business,Media & Entertainment,2016,150000,50,Yes,20
13,Construction,28,No,Yes,No,3,Yes,1.0,200000,Primary,Patna,Bihar,Loan taken and still repaying,Medical,None,0,0,30,Yes,40
14,"Trade, hotels, transport, communication and se...",43,Yes,Yes,Yes,5,No,2.0,1500000,Postgraduation,Mumbai,Maharashtra,Loan not taken / repayed,Business,Transportation & Logistics,2014,50000,60,Yes,40
15,Construction,26,Yes,Yes,Yes,3,No,1.0,400000,Uneducated,Deogarh,Odisha,Loan taken and still repaying,Education,None,0,0,90,Yes,45
16,Construction,23,Yes,Yes,Yes,4,No,1.0,600000,Secondary,New Delhi,Delhi,Loan taken and still repaying,Medical,None,0,0,70,Yes,40
17,Construction,25,Yes,Yes,Yes,4,Yes,1.0,300000,Primary,Ranchi,Jharkhand,Loan taken and still repaying,Education,None,0,0,30,Yes,45
18,"Electricity, gas, water supply & other utility...",36,Yes,Yes,Yes,5,Yes,1.0,500000,Postgraduation,Mumbai,Maharashtra,Loan not taken / repayed,Business,None,0,0,10,Yes,50
19,"Public Administration, defence and other services",57,Yes,Yes,Yes,6,No,2.0,800000,Undegraduation,Jodhpur,Rajasthan,Loan taken and still repaying,Medical,None,0,0,20,Yes,45
20,"Public Administration, defence and other services",67,No,Yes,Yes,6,No,2.0,1000000,Undegraduation,Jaipur,Rajasthan,Loan not taken / repayed,Medical,None,0,0,40,Yes,50
21,"Public Administration, defence and other services",62,Yes,Yes,Yes,5,No,3.0,800000,Senior Secondary,Dehradun,Uttarakhand,Loan not taken / repayed,Education,None,0,0,20,Yes,50
22,"Public Administration, defence and other services",28,Yes,Yes,Yes,4,Yes,1.0,900000,Postgraduation,Coimbatore,Tamil Nadu,Loan taken and still repaying,Business,Metals & Mining,2007,200000,10,Yes,30
23,"Public Administration, defence and other services",56,Yes,Yes,Yes,5,No,2.5,1600000,Undegraduation,Chennai,Tamil Nadu,Loan not taken / repayed,Business,Consumers Durables,2011,40000,40,Yes,50
24,"Electricity, gas, water supply & other utility...",26,Yes,Yes,Yes,4,No,1.0,500000,Undegraduation,Coimbatore,Tamil Nadu,Loan not taken / repayed,Medical,None,0,0,50,Yes,50
25,"Financial, real estate & prof servs",37,Yes,Yes,Yes,5,No,1.0,600000,Diploma,Bhopal,Madhya Pradesh,Loan not taken / repayed,Business,Textiles & Fashion,2018,40000,20,Yes,45
26,"Financial, real estate & prof servs",46,Yes,Yes,Yes,7,No,2.0,500000,Primary,Nagpur,Maharashtra,Loan not taken / repayed,Business,Tourism & Hospitality,2016,500000,20,Yes,20
27,Manufacturing,40,Yes,Yes,No,6,No,4.0,1500000,Secondary,Palakkad,Kerala,Loan taken and still repaying,Business,Chemicals,2017,100000,20,Yes,20
28,Mining & quarrying,27,Yes,Yes,Yes,5,No,2.0,200000,Undegraduation,Kutch,Gujarat,Loan not repayed on time.,Business,Textiles & Fashion,2018,90000,40,Yes,35
29,Manufacturing,38,Yes,Yes,Yes,4,No,3.0,1400000,Postgraduation,New Delhi,Delhi,Loan not taken / repayed,Business,Healthcare,2017,200000,30,Yes,20
30,Construction,24,Yes,Yes,No,4,No,1.0,200000,Postgraduation,Hyderabad,Karnataka,Loan not taken / repayed,Education,None,0,0,70,Yes,30
31,Manufacturing,45,Yes,Yes,Yes,6,No,3.0,900000,Primary,Ahembdabad,Gujarat,Loan taken and still repaying,Business,FMCG-Food,2021,20000,90,Yes,30
32,Manufacturing,36,Yes,Yes,Yes,7,No,2.0,1800000,Postgraduation,Banglore,Karnataka,Loan not taken / repayed,Medical,None,0,0,60,Yes,25
33,Manufacturing,54,Yes,Yes,Yes,6,No,3.0,1500000,Undegraduation,Mumbai,Maharashtra,Loan not taken / repayed,Business,Capital Goods,2009,200000,40,Yes,20
34,Manufacturing,34,Yes,Yes,Yes,4,No,2.5,1600000,Senior Secondary,Jodhpur,Rajasthan,Loan not taken / repayed,Business,Information Technology,2017,600000,50,Yes,10
35,"Electricity, gas, water supply & other utility...",26,Yes,Yes,Yes,4,No,2.0,600000,Senior Secondary,Luknow,Uttar Pradesh,Loan not taken / repayed,Education,None,0,0,20,Yes,60
36,"Public Administration, defence and other services",45,No,Yes,Yes,8,No,4.0,900000,Senior Secondary,Bhubhneshwar,Odisha,Loan not taken / repayed,Medical,None,0,0,40,Yes,50
37,"Financial, real estate & prof servs",45,Yes,No,No,5,No,5.0,900000,Undegraduation,New Delhi,Delhi,Loan not repayed on time.,Business,Industrial Products,2020,40000,30,Yes,40
38,"Financial, real estate & prof servs",32,Yes,Yes,Yes,4,No,2.0,500000,Senior Secondary,Raipur,Chhattisgarh,Loan taken and still repaying,Medical,None,0,0,10,Yes,60
39,"Financial, real estate & prof servs",34,Yes,Yes,Yes,3,Yes,3.0,700000,Undegraduation,Mumbai,Maharashtra,Loan taken and still repaying,Business,Telecom,2016,60000,60,Yes,30
40,"Electricity, gas, water supply & other utility...",25,Yes,Yes,Yes,4,No,1.5,400000,Primary,Aizwal,Manipur,Loan not taken / repayed,Business,Transportation & Logistics,2017,100000,0,No,75
41,"Public Administration, defence and other services",36,Yes,Yes,Yes,6,No,2.0,500000,Diploma,Aizwal,Manipur,Loan taken and still repaying,Education,None,0,0,0,No,80
42,"Agriculture,forestry & fishing",36,Yes,Yes,Yes,5,No,1.0,200000,Uneducated,Bhopal,Madhya Pradesh,Loan not taken / repayed,Business,Media & Entertainment,2019,500000,20,Yes,20
43,"Agriculture,forestry & fishing",26,Yes,Yes,Yes,4,Yes,3.0,100000,Uneducated,Kohima,Nagaland,Loan taken and still repaying,Others,None,0,0,30,Yes,45
44,"Agriculture,forestry & fishing",35,No,No,No,4,Yes,2.0,300000,Secondary,Jalandar,Punjab,Loan not taken / repayed,Education,None,0,0,20,Yes,50
45,"Agriculture,forestry & fishing",25,No,Yes,Yes,3,No,2.0,1200000,Undegraduation,Ambala,Haryana,Loan not taken / repayed,Others,None,0,0,40,Yes,40
46,Construction,23,Yes,Yes,Yes,5,Yes,1.0,400000,Senior Secondary,Rachi,Jharkhand,Loan not taken / repayed,Business,Building Materials,2016,40000,50,Yes,25
47,"Trade, hotels, transport, communication and se...",34,Yes,Yes,Yes,4,No,5.0,600000,Undegraduation,Indore,Madhya Pradesh,Loan not taken / repayed,Business,Capital Goods,2020,30000,50,Yes,35
48,"Financial, real estate & prof servs",56,Yes,Yes,Yes,6,No,2.0,300000,Others,Bhopal,Madhya Pradesh,Loan not taken / repayed,Business,Retail,2019,120000,80,Yes,10

In [51]:
train.replace("Yes",1,inplace=True)

In [52]:
train.replace("No",0,inplace=True)

In [53]:
train.replace(["Maharashtra","Tamil Nadu","Uttar Pradesh","Gujarat","Karnataka","West Bengal","Rajasthan","Andhra Pradesh","Telangana","Madhya Pradesh","Kerala","Delhi"],10,inplace=True)

In [54]:
train.replace(["Haryana","Bihar", "Punjab","Odisha","Assam","Chhattisgarh","Jharkhand","Uttarakhand","Jammu & Kashmir","Himachal Pradesh","Goa","Tripura","Chandigarh","Puducherry","Meghalaya","Sikkim","Manipur","Nagaland","Arunachal Pradesh","Mizoram","Andaman & Nicobar Islands"],5,inplace=True)

In [55]:
train.replace("Primary",1,inplace=True)

In [56]:
train.replace("Uneducated",-1,inplace=True)
train.replace("Secondary",2,inplace=True)
train.replace("Diploma",4,inplace=True)
train.replace("Undegraduation",5,inplace=True)
train.replace("Postgraduation",6,inplace=True)
train.replace("Others",7,inplace=True)
train.replace("Primary",1,inplace=True)
train.replace("Senior Secondary",3,inplace=True)

train.replace("Loan taken and still repaying",0,inplace=True)
train.replace("Loan not taken / repayed",1,inplace=True)
train.replace("Loan not repayed on time.",-3,inplace=True)

train.replace("Business",5,inplace=True)
train.replace("Education",4,inplace=True)
train.replace("Medical",3,inplace=True)
train.replace("Others",1,inplace=True)

train.replace("Agriculture,forestry & fishing",2.56,inplace=True)
train.replace("Mining & quarrying",0.28,inplace=True)
train.replace("Manufacturing",5.28,inplace=True)
train.replace("Electricity, gas, water supply & other utility services",8.01,inplace=True)
train.replace("Construction",6.34,inplace=True)
train.replace("Trade, hotels, transport, communication and services related to broadcasting",7.14,inplace=True)
train.replace("Financial, real estate & prof servs",7.16,inplace=True)
train.replace("Public Administration, defence and other services",7.39,inplace=True)


train.replace("Auto Components",6.1,inplace=True)
train.replace("Automotive",16.2,inplace=True)
train.replace("Building Materials",3.4,inplace=True)
train.replace("Capital Goods",-2.7,inplace=True)
train.replace("Chemicals",4.9,inplace=True)
train.replace("Construction",-0.6,inplace=True)
train.replace("Consumers Durables",1.9,inplace=True)
train.replace("Diversified",2.9,inplace=True)
train.replace("FMGC-Non-food",5,inplace=True)
train.replace("FMCG-Food",2.1,inplace=True)
train.replace("Forest Materials",0.3,inplace=True)
train.replace("Healthcare",11.5,inplace=True)
train.replace("Industrial Products",0.8,inplace=True)
train.replace("Information Technology",26,inplace=True)
train.replace("Media & Entertainment",2.1,inplace=True)
train.replace("Metals & Mining",-1.2,inplace=True)
train.replace("Retail",1.5,inplace=True)
train.replace("Telecom",3.2,inplace=True)
train.replace("Textiles & Fashion",1.6,inplace=True)
train.replace("Tourism & Hospitality",-0.4,inplace=True)
train.replace("Transportation & Logistics",0.4,inplace=True)
train.replace("Utilities",14.9,inplace=True)
train.replace("None",0,inplace=True)

In [57]:
train['District'] = train.District.map( lambda x: 1 if x == "Amaravati"or x == "Itanagar" or x == "Dispur" or x == "Patna" or x == "Raipur" or x == "Panaji" or x == "Gandhinagar" or x == "Chandigarh" or x == "Shimla" or x == "Ranchi" or x == "Hyderabad" or x == "Agartala" or x == "Lucknow" or x =="Dehradun" or x =="Kolkata" or x =="Aizawl" or x =="Kohima" or x =="Bhubaneswar" or x =="Chandigarh" or x =="Jaipur" or x=="Gangtok" or x =="Chennai" or x =="Hyderabad" or x == "Gandhinagar" or x =="Chandigarh" or x == "Shimla" or x =="Ranchi" or x =="Bengaluru" or x =="Thiruvananthapuram" or x =="Bhopal" or x =="Mumbai" else 0)

In [58]:
train.dtypes

Sector                float64
Age                     int64
Tv Bills                int64
Water bills             int64
Electricity Bills       int64
Family Members          int64
Group?                  int64
Duration (year)       float64
Salary (yearly)         int64
Qualifications          int64
District                int64
State                   int64
Loan History            int64
Loan Category           int64
Sector of Business    float64
Founding Year           int64
Profit per anum         int64
Credit Score            int64
LOAN GRANTED            int64
RISK SCORE              int64
dtype: object

In [59]:
train

,Sector,Age,Tv Bills,Water bills,Electricity Bills,Family Members,Group?,Duration (year),Salary (yearly),Qualifications,District,State,Loan History,Loan Category,Sector of Business,Founding Year,Profit per anum,Credit Score,LOAN GRANTED,RISK SCORE
0,2.56,23,1,1,1,6,1,2.0,500000,2,0,5,0,5,1.5,2013,40000,20,1,30
1,0.28,30,1,1,1,5,0,1.0,200000,4,0,5,0,3,0.0,0,0,40,1,30
2,5.28,35,1,1,1,6,0,3.0,1000000,5,0,10,1,5,3.4,2020,100,10,0,85
3,8.01,27,1,1,1,4,0,1.0,600000,5,0,10,1,4,0.0,0,0,20,1,30
4,7.39,36,1,1,1,3,0,1.0,800000,6,0,5,-3,5,26.0,2020,300000,60,1,20
5,7.39,40,1,1,0,4,0,2.0,700000,7,1,5,0,3,0.0,0,0,10,1,40
6,7.16,32,1,1,1,4,1,1.0,600000,5,0,5,0,5,-2.7,2017,150000,80,1,35
7,7.39,50,1,1,1,8,0,2.5,800000,5,1,10,1,4,0.0,0,0,20,1,45
8,7.39,42,1,1,1,5,0,1.0,1200000,5,1,10,1,5,1.6,2020,20000,30,1,50
9,2.56,23,1,1,0,4,0,1.5,300000,3,0,5,-3,5,4.9,2019,250000,70,1,20
10,2.56,28,1,0,1,4,0,1.0,600000,3,0,5,1,5,11.5,2020,300000,60,1,20
11,2.56,29,0,1,1,4,1,0.5,800000,4,0,5,0,5,0.8,2018,100000,40,1,30
12,2.56,35,1,1,1,5,1,1.5,500000,4,0,10,1,5,2.1,2016,150000,50,1,20
13,6.34,28,0,1,0,3,1,1.0,200000,1,1,5,0,3,0.0,0,0,30,1,40
14,7.14,43,1,1,1,5,0,2.0,1500000,6,1,10,1,5,0.4,2014,50000,60,1,40
15,6.34,26,1,1,1,3,0,1.0,400000,-1,0,5,0,4,0.0,0,0,90,1,45
16,6.34,23,1,1,1,4,0,1.0,600000,2,0,10,0,3,0.0,0,0,70,1,40
17,6.34,25,1,1,1,4,1,1.0,300000,1,1,5,0,4,0.0,0,0,30,1,45
18,8.01,36,1,1,1,5,1,1.0,500000,6,1,10,1,5,0.0,0,0,10,1,50
19,7.39,57,1,1,1,6,0,2.0,800000,5,0,10,0,3,0.0,0,0,20,1,45
20,7.39,67,0,1,1,6,0,2.0,1000000,5,1,10,1,3,0.0,0,0,40,1,50
21,7.39,62,1,1,1,5,0,3.0,800000,3,1,5,1,4,0.0,0,0,20,1,50
22,7.39,28,1,1,1,4,1,1.0,900000,6,0,10,0,5,-1.2,2007,200000,10,1,30
23,7.39,56,1,1,1,5,0,2.5,1600000,5,1,10,1,5,1.9,2011,40000,40,1,50
24,8.01,26,1,1,1,4,0,1.0,500000,5,0,10,1,3,0.0,0,0,50,1,50
25,7.16,37,1,1,1,5,0,1.0,600000,4,1,10,1,5,1.6,2018,40000,20,1,45
26,7.16,46,1,1,1,7,0,2.0,500000,1,0,10,1,5,-0.4,2016,500000,20,1,20
27,5.28,40,1,1,0,6,0,4.0,1500000,2,0,10,0,5,4.9,2017,100000,20,1,20
28,0.28,27,1,1,1,5,0,2.0,200000,5,0,10,-3,5,1.6,2018,90000,40,1,35
29,5.28,38,1,1,1,4,0,3.0,1400000,6,0,10,1,5,11.5,2017,200000,30,1,20
30,6.34,24,1,1,0,4,0,1.0,200000,6,1,10,1,4,0.0,0,0,70,1,30
31,5.28,45,1,1,1,6,0,3.0,900000,1,0,10,0,5,2.1,2021,20000,90,1,30
32,5.28,36,1,1,1,7,0,2.0,1800000,6,0,10,1,3,0.0,0,0,60,1,25
33,5.28,54,1,1,1,6,0,3.0,1500000,5,1,10,1,5,-2.7,2009,200000,40,1,20
34,5.28,34,1,1,1,4,0,2.5,1600000,3,0,10,1,5,26.0,2017,600000,50,1,10
35,8.01,26,1,1,1,4,0,2.0,600000,3,0,10,1,4,0.0,0,0,20,1,60
36,7.39,45,0,1,1,8,0,4.0,900000,3,0,5,1,3,0.0,0,0,40,1,50
37,7.16,45,1,0,0,5,0,5.0,900000,5,0,10,-3,5,0.8,2020,40000,30,1,40
38,7.16,32,1,1,1,4,0,2.0,500000,3,1,5,0,3,0.0,0,0,10,1,60
39,7.16,34,1,1,1,3,1,3.0,700000,5,1,10,0,5,3.2,2016,60000,60,1,30
40,8.01,25,1,1,1,4,0,1.5,400000,1,0,5,1,5,0.4,2017,100000,0,0,75
41,7.39,36,1,1,1,6,0,2.0,500000,4,0,5,0,4,0.0,0,0,0,0,80
42,2.56,36,1,1,1,5,0,1.0,200000,-1,1,10,1,5,2.1,2019,500000,20,1,20
43,2.56,26,1,1,1,4,1,3.0,100000,-1,1,5,0,7,0.0,0,0,30,1,45
44,2.56,35,0,0,0,4,1,2.0,300000,2,0,5,1,4,0.0,0,0,20,1,50
45,2.56,25,0,1,1,3,0,2.0,1200000,5,0,5,1,7,0.0,0,0,40,1,40
46,6.34,23,1,1,1,5,1,1.0,400000,3,0,5,1,5,3.4,2016,40000,50,1,25
47,7.14,34,1,1,1,4,0,5.0,600000,5,0,10,1,5,-2.7,2020,30000,50,1,35
48,7.16,56,1,1,1,6,0,2.0,300000,7,1,10,1,5,1.5,2019,120000,80,1,10

In [61]:
y_train=train['RISK SCORE']
y_train_1=train['LOAN GRANTED  ']

In [ ]:
print(train.columns.tolist())

['Sector', 'Age', 'Tv Bills ', 'Water bills', 'Electricity Bills', 'Family Members ', 'Group?', 'Duration (year)', 'Salary (yearly)', 'Qualifications', 'District', 'State', 'Loan History ', 'Loan Category', 'Sector of Business', 'Founding Year', 'Profit per anum', 'Credit Score ', 'LOAN GRANTED  ', 'RISK SCORE']

In [63]:
x_train=train.drop(['LOAN GRANTED  ', 'RISK SCORE'], axis = 1)

In [64]:
x_train.shape

(49, 18)

In [65]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state = 0) 
classifier.fit(x_train, y_train_1)

LogisticRegression(random_state=0)

In [67]:
from sklearn.linear_model import LinearRegression 
rs = LinearRegression() 
rs.fit(x_train, y_train)

LinearRegression()

# **EXAMPLE**

In [76]:
pred=rs.predict([[7.16,45,1,0,0,5,0,5.0,900000,5,0,10,-3,5,0.8,2020,400,1]])

In [75]:
print(pred)

[56.09433983]

**PICKLE**

In [77]:
import pickle

In [78]:
pickle.dump(rs,open('model1.pk1','wb'))

In [79]:
pickle.dump(classifier,open('model2.pk1','wb'))